<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{session['user_first_name']}}! </h1><a href="/home">Dashboard</a> <a href="/user/logout">Logout</a>
        
        <h2>${{car.price}} </h2>
        <p>
        Make: {{car.make}} <br>
        Model: {{car.model}} <br>
        Year: {{car.year}} <br>
        Description: {{car.description}} <br>
        Seller: {{users_id}}
    </p>
    {% if car.user.id != session['user_id'] %}<a href="/cars/{{car.id}}/delete">Purchase</a> {% endif %}
</body>
</html>